# general extensions
*.tst.res
*.log

# scanner specific
/scanner
scanner.out

# parser specific
/parser
parser.out

# parser generated bison files
pr.h
pr.c

# analyzer specific
/analyzer
analyzer.out
